*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 90.4vh;
    background-color: maroon;
}

header{
    text-align: center;
    padding: 1rem;
    background-color: rgb(11, 9, 134);
}



h1{
    font-weight: lighter;
    color: white;
}

.container,
.container .btn{
    display: flex;
    justify-content: center;
    align-items:center;
}

.container .btn button{
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    font-size: 2rem;
    background-color: red;
    border-radius: 1rem;
    border: 1px solid white;
    color:white;
    cursor: pointer;

}





